.table-history{
  gap: 12px;
  justify-content: space-between;
  text-align: center;
  table-layout: fixed;
  width: 95%;
  border-spacing: 0 12px;
  height: 406px;
  line-height: 23px; //căn chỉnh khoảng cách theo hàng dọc của các phần tử trong có trog bảng

  .green--color{
    color: #17C653;
  }

  .red--color{
    color: #F8285A;
  }
  

  .tab-name{
    white-space: nowrap;
    text-align:center;
    font-weight: normal;
    font-size: 12px;
    color: #99A1B7;

    th,td{
      padding: 10px;
    }
  }

  tbody{
    font-size: 14px;
    font-style: medium;
    color: #FFFFFF;
  }
}

tbody tr:nth-child(odd) {
  background-color: #242533 !important;
}
