.header--page {
  font-size: 24px;
  margin-bottom: 16px;
}

.actions-search{
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 68px;
}

.tab-bar {
  display: flex;
  gap: 20px;
  color: #fff;
  border-bottom: 1px solid #1E1E25;
}

.tab {
  padding: 12px;
  cursor: pointer;
  background: transparent;
  color: #fff;
}

.tab.active {
  color:#6142FE;
  border-bottom: 1px solid #6142FE;
  background: linear-gradient(180deg, rgba(97, 66, 254, 0) 0%, rgba(97, 66, 254, 0.2) 100%);
}

.asset__body{
  margin-left: 30px;
}

.summary-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:12px;
  min-height:28px;         
  padding:4px 0;
  margin-right: 10px;
}


.summary-value{
  flex:0 0 auto;
  font-weight:600;
  text-align:right;
  font-variant-numeric: tabular-nums; 
}

span{
  color: #99A1B7;
}

strong{
  color: #FFFFFF;
}

//css cho antd
.ant-row.css-dev-only-do-not-override-7t2xvq{
  background-color: #24253C;
  width: 99%; 
}

:where(.css-dev-only-do-not-override-7t2xvq).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector{
  background: none;
  border: none;
}

:where(.css-dev-only-do-not-override-7t2xvq).ant-table-wrapper{
  clear: both;
  max-width: 99%;
}
//  :where(.css-dev-only-do-not-override-7t2xvq).ant-row{
//   gap: 2px;
// }



