.header {
  display: flex;
  align-items: center;
  background-color: #13141f;
  padding: 12px 24px;
  height: 44px;
  width: 1920px;
  border: 1px solid #1a1a22;
  gap: 24px;
  font-family: 'BT Beau Sans' , sans-serif;

  .logo img {
    height: 32px;
  }

  .nav-tabs {
    display: flex;
    margin-left: 40px;
    gap: 24px;
  }

  .nav-item {
    color: white;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    padding-bottom: 5px;
    transition: color 0.3s;

    &:hover {
      color: #a68bff;
    }

    &.active {
      color: #7b61ff;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #7b61ff;
      }
    }
  }
}

.title{
    color: #99A1B7;
    font-family: 'Beau Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-left: 600px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: right;
}
